<footer class="footer">

  <div class="footer-container">

    <div class="footer-brand">

      <div class="footer-logo">
        <div class="logo-m">
           <img src="favicon.ico" alt="photo">
        </div>

        <span>METOA</span>
      </div>

      <p>
        Voyagez ensemble, simplement et autrement.
      </p>

    </div>


    <div class="footer-links">

      <div>
        <h4>METOA</h4>

        <a routerLink="/">Accueil</a>
        <a routerLink="/trajets">Trajets</a>
        <a routerLink="/about">À propos</a>
      </div>


      <div>
        <h4>Support</h4>

        <a routerLink="/contact">Contact</a>
        <a routerLink="/login">Connexion</a>
        <a routerLink="/register">Inscription</a>
      </div>

    </div>

  </div>


  <div class="footer-bottom">

    <span>
      © 2026 METOA. Tous droits réservés.
    </span>

    <span>
      Voyagez ensemble.
    </span>

  </div>

</footer>
